__pycache__/
*.pyc
.venv/
venv/
env/
.ipynb_checkpoints/
data/*.csv
models/*.pth
models/*.pt
models/*.json
models/*.pkl
!models/gesture_classifier.pth
!models/label_map.json
!models/model_config.json
!models/scaler.pkl
